In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
# 1. Importamos archivo csv
df=pd.read_csv('data/attacks.csv',encoding='latin-1') #Incluir encoding='latin-1'o UTF-8/16 para que pueda abrir el archivo
print(df.shape) # ver cuantas filas/columnas tiene el archivo
df.head()

(25723, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
df.columns # ver que columnas hay en el csv

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
#2. Eliminamos duplicados
df.drop_duplicates()
df.shape

(25723, 24)

In [5]:
#3.Encontrar columnas con valores nulos
df.isnull().head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [6]:
#Ver total de filas nulas de cada columna
null_columns=df.isnull().sum()
null_columns[null_columns>0]

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [7]:
#Comprobar que contenido aportan las columnas "Case Number 1 and 2" diferente de la columna "Case Number"
df[["Case Number","Case Number.1","Case Number.2"]] #A primera vista parece que tiene el mismo contenido
df["Case Number.1"].equals(df["Case Number.2"].equals(df['Case Number']))#False
df["Case Number.1"].isin(df["Case Number.2"]).value_counts()# solo 19 False
df["Case Number.1"].isin(df["Case Number"]).value_counts() #Solo 23 False

# Conclusión: las columnas Case Number.1 y Case Number.2 tienen prácticamente el mismo contenido que  Case Number por lo que podemos eliminarlas

True     25700
False       23
Name: Case Number.1, dtype: int64

In [8]:
#Ademas elimino el resto de columnas que no aportan ningun valor al analisis: "pdf","href formula","href","Unnamed: 22","Unnamed: 23","original order","Investigator or Source"

df_clean = df.drop(columns=["Case Number.1","Case Number.2","pdf","href formula","href","Unnamed: 22","Unnamed: 23","original order","Investigator or Source"])
df_clean.shape

(25723, 15)

In [9]:
df_clean.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species '],
      dtype='object')

In [10]:
df_clean.isnull().sum()

Case Number    17021
Date           19421
Year           19423
Type           19425
Country        19471
Area           19876
Location       19961
Activity       19965
Name           19631
Sex            19986
Age            22252
Injury         19449
Fatal (Y/N)    19960
Time           22775
Species        22259
dtype: int64

In [11]:
#Drop the rows where all elements are missing -> al haber tantas rows vacias elimino las filas que tengan todas las columnas nulas
df_clean=df_clean.dropna(how='all')
df_clean.shape

(8703, 15)

In [12]:
df_clean.isnull().sum()

Case Number       1
Date           2401
Year           2403
Type           2405
Country        2451
Area           2856
Location       2941
Activity       2945
Name           2611
Sex            2966
Age            5232
Injury         2429
Fatal (Y/N)    2940
Time           5755
Species        5239
dtype: int64

In [13]:
# Limpio columna "Case Number"
df_clean["Case Number"].value_counts() # Parece que el contenido de la columna es igual a la fecha= Columna Date/Year
df_clean[df_clean["Case Number"].isnull()][["Year","Date"]] # Compruebo la columna nula con columnas relacionadas

        Year                  Date
5488  1905.0  Reported 06-Sep-1905

In [14]:
df_clean["Case Number"]= df_clean["Case Number"].fillna("1905.09.06") # Relleno info nula con info de columnas relacionadas

In [15]:
df_clean.isnull().sum()

Case Number       0
Date           2401
Year           2403
Type           2405
Country        2451
Area           2856
Location       2941
Activity       2945
Name           2611
Sex            2966
Age            5232
Injury         2429
Fatal (Y/N)    2940
Time           5755
Species        5239
dtype: int64

In [16]:
# Elimino todas las filas que tengan por lo menos 12 columnas nulas (hay 15 en total)
df_clean=df_clean.dropna(thresh=12)
df_clean.shape

(5343, 15)

In [17]:
df_clean.isnull().sum()

Case Number       0
Date              0
Year              0
Type              1
Country           2
Area            104
Location        144
Activity        155
Name             24
Sex             217
Age            1936
Injury            3
Fatal (Y/N)     365
Time           2430
Species        2144
dtype: int64

In [18]:
# Limpio columna "Type"
df_clean["Type"].value_counts()
df_clean[df_clean["Type"].isnull()][["Activity","Injury","Fatal (Y/N)"]]

   Activity                      Injury Fatal (Y/N)
85  Fishing  Injuries to hands and legs           N

In [19]:
#Añado fila vacia y adapto contenido de la columna para que quede categorizado
df_clean["Type"]= df_clean["Type"].fillna("Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatinginging","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatingingomg","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Questionable","Invalid")
df_clean["Type"]= df_clean["Type"].str.replace("Boatinging","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boating","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boat","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatingingomg","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatinging","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatingomg","Boating")
df_clean["Type"].value_counts()

Unprovoked      4076
Provoked         520
Invalid          383
Boating          254
Sea Disaster     110
Name: Type, dtype: int64

In [20]:
df_clean.isnull().sum()

Case Number       0
Date              0
Year              0
Type              0
Country           2
Area            104
Location        144
Activity        155
Name             24
Sex             217
Age            1936
Injury            3
Fatal (Y/N)     365
Time           2430
Species        2144
dtype: int64

In [21]:
#Limpio columna "Country"
df_clean["Country"].value_counts()
df_clean[df_clean["Country"].isnull()][["Area","Location","Activity"]]

,Area,Location,Activity
4231,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship
4498,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate"

In [22]:
df_clean.loc[df_clean["Country"].isnull(),"Country"] = ["INDIA","PANAMA"] #Relleno filas nulas
df_clean["Country"]=df_clean["Country"].apply(lambda x: x.lower())
df_clean["Country"]=df_clean["Country"].str.replace('(\w+)', lambda x: x.group(0).capitalize())
df_clean["Country"]

0                      Usa
1                      Usa
2                      Usa
3                Australia
4                   Mexico
               ...
6290          South Africa
6296             Australia
6297             Australia
6299                   Usa
6301    Ceylon (Sri Lanka)
Name: Country, Length: 5343, dtype: object

In [23]:
#Relleno filas nulas del resto de columnas para que quede a 0
df_clean["Area"]= df_clean["Area"].fillna("Unknown")
df_clean["Location"]= df_clean["Location"].fillna("Unknown")
df_clean["Activity"]= df_clean["Activity"].fillna("Unknown")
df_clean["Name"]= df_clean["Name"].fillna("Noname")
df_clean["Sex "]= df_clean["Sex "].fillna("Unknown")
df_clean["Age"]= df_clean["Age"].fillna("0")
df_clean["Injury"]= df_clean["Injury"].fillna("Unknown")
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].fillna("Unknown")
df_clean["Time"]= df_clean["Time"].fillna("Notime")
df_clean["Species "]= df_clean["Species "].fillna("Unknown")

# ALL DATA IS CLEANED
df_clean.isnull().sum()[df_clean.isnull().sum() > 0]

Series([], dtype: int64)

In [24]:
#Verifico tipo de datos en cada columna 
df_clean.dtypes #Todos son object menos Year que es float64
df_clean["Year"]=df_clean["Year"].astype("object")
df_clean["Year"].dtype

dtype('O')

In [25]:
#Corrijo nombres de algunas columnas con espacios
df_clean=df_clean.rename(columns={"Sex ":"Sex"}) #Quito el espacio del nombre de la columna "Sex"
df_clean=df_clean.rename(columns={"Species ":"Species"})

In [26]:
#Limpio contenido columna Activity 
df_clean.loc[df_clean["Activity"].str.contains("wim"),"Activity"]="Swimming"
df_clean.loc[df_clean["Activity"].str.contains("urf"),"Activity"]="Surfing"
df_clean.loc[df_clean["Activity"].str.contains("ish"),"Activity"]="Fishing"
df_clean["Activity"]= df_clean["Activity"].str.replace("Spearfishing","Fishing")
df_clean["Activity"].value_counts()

Surfing                                   1225
Fishing                                   1076
Swimming                                  1027
Unknown                                    158
Wading                                     146
                                          ...
Playing with a frisbee in the shallows       1
Fell oveboard from steamer Wanderer          1
Landing hooked shark in boat                 1
Dry shelling                                 1
Washing horses                               1
Name: Activity, Length: 721, dtype: int64

In [27]:
#Limpio contenido columnas relacionadas Case Number, Year, Date

df_clean["Date"].value_counts() # Parece que hay diferentes formatos de fecha
df_clean["Case Number"].value_counts() # Podemos utilzar estos formatos de fecha que estan emejor que columna Date

1990.05.10      2
1980.07.00      2
2013.10.05      2
2012.09.02.b    2
2006.09.02      2
               ..
1890.00.00.e    1
1995.10.11      1
2012.04.11      1
2008.07.09      1
2015.08.18.a    1
Name: Case Number, Length: 5330, dtype: int64

In [28]:
set(df_clean["Date"])
set(df_clean["Case Number"])

{'2015.08.18.a',
 '2009.02.22',
 '1989.01.20.a',
 '1951.03.26',
 '2008.04.15',
 '1998.12.22',
 '1999.03.18.R',
 '1969.04.22',
 '2010.04.13',
 '1959.04.27',
 '1948.12.10',
 '2015.05.20',
 '1931.08.25',
 '1962.06.17',
 '1997.08.09',
 '1964.07.27',
 '1894.12.11',
 '2013.08.26',
 '1909.08.13',
 '1980.04.25',
 '1922.04.26',
 '1972.12.31',
 'ND.0003',
 '1839.00.00.a',
 '1966.08.27.b',
 '2008.07.09',
 '1950.02.11',
 '1905.01.01',
 '1767.00.00',
 '2004.01.07',
 '1985.09.28',
 '1995.09.11',
 '2012.03.01',
 '2003.04.20.b',
 '2009.01.25',
 '1977.01.00',
 '1999.09.24',
 '1931.06.13',
 '2009.04.21',
 '1995.06.16',
 '2010.02.01',
 '2016.07.15.b',
 '2017.11.18',
 '2011.06.06.R',
 '1954.01.15',
 'ND.0054',
 '2003.05.07',
 '1960.10.24',
 '1993.08.19',
 '1889.07.21',
 '2003.06.08',
 '1853.09.28',
 '1998.07.06.b',
 '2014.08.24',
 '2003.12.13.a',
 '1999.09.29',
 '1988.03.31',
 '1997.08.27',
 '1988.06.19',
 '1999.10.20',
 '1964.01.23',
 '1963.09.29',
 '1983.07.05',
 '2017.03.27',
 '1988.01.06',
 '1984.11.11',
 '1899.06.07',
 '1995.05.24',
 '1859.03.16',
 '2009.07.24.a',
 '2012.03.14.b',
 '2016.02.02',
 '2008.09.06.b',
 '2014.06.18.a',
 '1998.08.15',
 '1959.11.10',
 '2009.08.25',
 '1965.10.16.b',
 '2018.06.08',
 '2008.06.28.c',
 '1972.12.24',
 '2003.09.13.a',
 '1817.02.22',
 '1950.00.00.c',
 '1991.08.26',
 '2005.06.16',
 '1997.08.14.a',
 '2017.02.01.a',
 '1997.08.05',
 '2007.09.03.a',
 '2013.04.28',
 '1884.08.18',
 '1963.02.08',
 '1984.09.17',
 '1952.07.05',
 '2010.11.30.b',
 '1996.02.10.a',
 '2000.07.09',
 '1915.07.06.a.R',
 '1969.03.09',
 '1993.05.00.a',
 '1950.00.00.b',
 '1983.08.20.a',
 '1931.08.01',
 '2013.06.15',
 '1991.10.12',
 '1988.04.28',
 '1958.11.07.R',
 '2010.07.17.b',
 '2008.04.18',
 '2011.09.04.b',
 '1962.02.18',
 '1954.08.19',
 '1949.04.13',
 '1935.01.17',
 '2015.05.03',
 '1892.06.20.R',
 '1957.04.22',
 '1910.00.00.a',
 '2010.01.09.b',
 '1851.06.16.R',
 '1948.00.00.c',
 '1993.06.10',
 '2000.10.02',
 '1931.03.22',
 '1992.09.11',
 '1959.10.04',
 '1959.04.09.b',
 '1972.10.14.a',
 '2000.08.15',
 '1997.06.09',
 '2015.08.22.b',
 '1852.05.24',
 '2014.06.17.R',
 '2008.03.28.c',
 '1954.04.00',
 '2013.09.01.a',
 '1870.05.11',
 '1912.01.13.R',
 '2002.12.16',
 '2008.07.25.a',
 '1968.12.29',
 '2015.08.10',
 '1923.10.20',
 '1996.05.24',
 '2006.02.27',
 '1902.08.28.R',
 '1914.05.14',
 '1980.01.13',
 '2015.10.09.b',
 '1961.02.12',
 '1977.03.17',
 '2009.06.16',
 '2007.09.17',
 '2014.11.10',
 '2007.11.07',
 '1997.01.01',
 '1971.04.16R',
 '1948.09.17.R',
 '2018.04.15.a',
 '1853.00.00.a',
 '2011.12.21.a',
 '2015.05.29.a',
 '2011.08.17.a',
 '1974.09.14',
 '2007.09.28',
 '1993.07.07',
 '1937.07.16.R',
 '2014.10.05.a',
 '1940.01.01',
 '1916.07.26',
 '2017.04.12.a',
 '2011.08.24.b',
 '1944.01.04',
 '2013.03.16.b',
 '2000.09.16.b',
 '1976.10.27',
 '2003.02.15.a',
 '2014.00.00.b',
 'ND.0019',
 '1997.08.04',
 '1890.00.00.d',
 '1961.06.24',
 '1934.10.08',
 '2013.08.29',
 '2002.10.11',
 '1979.04.08.a',
 '1994.10.05',
 '1989.09.13',
 '1927.01.03',
 '2012.10.02',
 '2017.04.29.a',
 '1966.07.19',
 '2016.12.24',
 '1981.07.07',
 '1924.10.18',
 '1965.06.00.b',
 '2018.04.05',
 '1970.09.00.a',
 '1911.00.00.b',
 '1996.04.07',
 '2008.08.16',
 '1935.07.01',
 '1995.00.00.d',
 '2005.12.11',
 '1992.05.31',
 '2011.08.18',
 '1955.09.20',
 '1939.00.00.b',
 '1951.03.24',
 '1987.10.25',
 '1983.08.20.b',
 '2001.08.25',
 '1935.08.24',
 '1998.01.25.a',
 '1990.08.19.b',
 '1996.11.18',
 '1981.01.01',
 '2006.10.07',
 '1932.06.26',
 '1959.04.09..a',
 '1989.00.00.a',
 '2007.09.05',
 '1956.12.15.R',
 '2012.05.20',
 '1942.00.00.j',
 '2004.09.25',
 '2009.04.06.b',
 '1920.06.29',
 '2011.03.23',
 '1966.01.11',
 '2003.10.06',
 '1960.03.31',
 '1991.07.01.b',
 '2011.12.07.b',
 '1996.07.10',
 '1983.07.12.b',
 '1958.01.09.R',
 '1983.03.22',
 '2001.08.04',
 '2016.10.02',
 '1961.01.06.c',
 '2012.07.07.a',
 '1970.12.17',
 '1946.12.28',
 '2013.11.10',
 '2014.03.18.b',
 '1981.08.29',
 '1960.08.10',
 '2009.01.10.a',
 '1998.05.16.c',
 '1953.04.00.b',
 '1961.05.17',
 '1989.06.29',
 '1926.01.26',
 '2001.05.08',
 '1947.11.23',
 '2006.12.06',
 '1968.02.04',
 '1952.00.00.e',
 '1981.00.00.b',
 '1931.09.21.b',
 '2003.07.15',
 '1989.09.17',
 '1975.05.20',
 '2005.07.17.a',
 '1945.03.06',
 '2005.10.29',
 '2016.03.10',
 '1988.01.27',
 '1962.01.14.a',
 '2011.04.08',
 '2012.03.06.a',
 '2009.12.20.b',
 '1956.08.00.d',
 '1938.01.14',
 '1952.00.00.b',
 '1998.08.01.a',
 '2005.04.07',
 '1963.07.11',
 '1907.12.21',
 '1997.02.28.a',
 '2010.02.16',
 '1985.01.17',
 '2000.09.11',
 '1999.12.06',
 '1994.09.21',
 '2018.05.27',
 '2000.07.17',
 '2017.05.28',
 '2007.06.24',
 '2011.03.29.R',
 '2008.04.19.R',
 '1962.00.00.a',
 'ND.0078',
 '1886.04.11',
 '1901.01.30',
 '2002.11.02',
 '1996.02.04',
 '1996.01.16',
 '2007.01.09',
 '1950.12.16',
 '1885.04.09',
 '1929.12.03.R',
 '1999.03.14.a',
 '2004.06.26.b',
 '2012.11.22',
 '1955.05.00',
 '1960.05.19',
 '1848.07.00',
 '1889.07.08',
 '2001.08.19.a',
 '2004.03.16',
 '1902.07.06',
 '2007.08.07',
 '1935.06.18',
 '1913.00.00.d',
 '2004.05.23.b',
 '1994.00.00.a',
 'ND.0036',
 '1996.06.04',
 '2018.03.14',
 '1981.05.24',
 '2004.03.22',
 '1880.01.03',
 '1907.07.14.R',
 '1959.07.03.a & b',
 '1998.11.14',
 '1984.03.14',
 'ND-0107',
 '2011.09.24.b',
 '2012.12.02',
 '1855.00.00',
 '1946.10.14',
 '1960.04.20.R',
 '2011.09.11.a',
 '1934.08.05',
 '1935.07.27.b',
 '1985.07.19',
 '1976.12.18',
 '1960.12.27.b',
 '2013.12.13',
 '2006.08.13',
 '1988.09.28',
 '1932.06.20',
 '1950.03.01',
 '2012.11.30',
 '2015.01.03',
 '1995.06.13',
 '1961.04.30',
 '1954.06.27',
 '1910.12.23.R',
 '1989.01.26.b',
 '1949.00.00.a',
 'ND.0013',
 '2011.07.19',
 'ND.0063',
 '2009.07.29',
 '2000.08.12',
 '2014.03.18.c',
 '2006.07.10',
 '1963.11.05.R',
 '1999.09.04.b',
 '2006.03.19',
 '1966.09.10',
 '1914.02.09.R',
 '1958.07.10',
 '1988.04.14.b',
 '2016.09.11',
 '1951.08.16.R',
 '1974.09.02.b',
 '1923.07.02.R',
 '1996.10.03.b',
 '1898.00.00.c',
 '2012.02.06',
 '2005.06.13',
 '1852.02.26',
 '1961.10.00.a',
 '1986.04.00',
 '1898.12.28.R',
 '1948.03.00',
 '1947.11.14.b',
 '2002.03.19',
 '1963.04.13',
 '2011.05.25',
 '2007.03.31.a',
 '1887.12.04',
 '2008.07.24.a',
 '1981.10.19.b',
 '2014.08.27.b',
 '1942.01.04',
 '1975.06.23.b',
 '2001.07.24',
 '1989.10.08',
 '1933.06.08.R',
 '2003.06.24.a',
 '2007.08.19.b',
 '1990.05.06',
 '1961.09.23',
 '1950.04.09.b',
 '1952.10.12',
 '1959.09.26.b',
 '1975.03.09',
 '1999.06.12',
 '1965.07.26',
 '2010.06.27',
 '2011.05.30',
 '1970.00.00.b',
 '2005.10.06',
 '2002.12.29',
 '1952.12.21',
 '1930.00.00.a',
 '1971.07.26',
 '1968.05.00',
 '1977.06.06',
 '1963.12.04.R',
 '1991.04.03',
 '2004.04.07',
 '2006.06.27',
 '1983.11.10.R',
 '1899.10.12.b',
 '2015.01.17',
 '2005.11.29.R',
 '1944.03.14',
 '2006.08.29.a',
 '1931.07.28.R',
 '2009.07.22.b',
 '2016.10.29',
 '2017.04.29.c',
 '1975.12.29',
 '1953.03.00.a',
 'ND.0055',
 '1954.12.29',
 '1947.07.00',
 '1983.12.21',
 '2007.08.26',
 '1989.09.09.b',
 '1936.07.07',
 '1851.12.15.R',
 '1987.11.21',
 '1925.09.04',
 '1957.12.31',
 '2014.07.20',
 '1893.04.14',
 '2016.10.12',
 '1994.09.26',
 '1968.08.24',
 '1992.11.25.a',
 '1882.11.12.b',
 '1926.07.08',
 '1962.12.00',
 '2009.08.30',
 '1931.08.23',
 '1964.10.31',
 '1969.05.24',
 '2018.06.25',
 '1959.00.00.d',
 '2015.06.01',
 '1992.01.23',
 '1955.02.05',
 'ND.0052',
 '2008.05.14',
 '2004.06.26.a',
 '1973.09.14',
 '2006.09.29',
 '1935.03.02',
 '1883.02.25.R',
 '1975.10.12',
 '2007.06.05',
 '1960.02.27.b',
 '1927.02.09',
 '1942.09.11',
 '1987.04.19',
 '2000.05.07.b',
 '2016.07.06',
 '1952.08.05',
 '2015.10.07',
 '1981.10.16',
 '2014.09.13',
 '1873.01.09.R',
 '1946.07.18.b',
 '2008.11.09.a',
 '1976.07.21',
 '1998.05.29.a',
 '2004.01.21.b',
 '1875.11.27.R',
 '1988.09.13.b',
 '1998.11.02.a',
 '1966.01.05',
 '1919.05.29',
 '1886.00.00',
 '1959.06.14.a',
 '2011.09.28.b',
 '2003.03.10',
 '1976.06.10',
 '2015.12.22',
 '1996.12.10',
 '1953.09.02',
 '2010.08.10',
 '1956.08.00.a',
 '1991.03.03',
 'ND.0048',
 '1929.01.27',
 '1997.02.03',
 '1962.03.25.a',
 '1938.01.02',
 '1906.08.04',
 '1960.06.27.b',
 '2002.10.14',
 '1864.01.16.R',
 '2005.08.21',
 '1810.09.15',
 '2008.12.27.b',
 'ND.0017',
 '1957.08.00',
 '1971.01.02',
 '2008.09.07',
 '2005.04.13',
 '1996.09.01.a',
 '1962.01.18',
 '1950.03.08',
 '1951.12.21',
 '2012.09.02.b',
 '1961.10.27',
 '1929.07.29',
 '1993.10.30',
 '1901.00.00',
 '2017.06.19',
 '2016.07.28.R',
 '1959.01.25',
 '1966.04.08',
 '1959.07.00.a',
 '1929.02.08',
 '2005.11.12',
 '1998.07.26',
 '1919.11.18',
 '2011.09.11.b',
 '2000.12.00',
 '2000.12.11',
 '1932.08.06',
 '1979.02.21',
 '2013.07.28.a',
 '1963.11.04',
 '1974.04.04',
 '1943.08.00',
 '1990.11.01',
 '2000.11.18',
 '2015.10.05.a',
 '1926.08.24',
 '1950.11.25',
 '2015.08.22.a',
 '1990.07.22',
 '1942.00.00.k',
 '1916.11.09',
 '1966.03.20',
 '1999.09.16',
 '1886.01.01',
 '1981.03.25',
 '2013.07.11',
 '1917.11.00',
 '1913.11.21',
 '1960.10.00.a',
 '1910.03.31',
 '2014.08.27.c',
 '1993.01.05',
 '1935.03.09',
 '1987.10.26',
 '1972.09.04',
 '1965.10.10',
 '2014.06.18.b',
 '2012.06.26.a',
 '1971.10.14',
 '2011.04.12',
 '2004.03.06',
 '1973.03.05',
 '2013.04.02.R',
 '2006.06.30.b',
 '2009.04.12',
 '1886.02.13.R',
 '2013.03.29',
 '2003.10.05.d',
 '2016.08.27',
 '2007.03.20',
 '1960.11.22',
 '1965.03.23',
 '1989.02.02',
 '1983.05.24',
 '2003.11.30.b',
 '1956.00.00.e',
 '2006.08.00.b',
 '2014.10.18',
 '1893.10.20.R',
 '1959.01.02',
 '2017.07.20.b',
 '2018.04.25.a',
 '1970.12.07',
 '2001.04.13.a',
 '1936.02.04',
 '2002.01.01.a',
 '1911.07.31.R',
 '1902.02.22.R',
 '2004.03.27.a',
 '1960.11.06',
 '1996.00.00.a',
 '1952.05.27',
 '2011.10.19',
 '2008.12.20',
 '2008.07.18',
 '2006.04.21',
 '2011.11.11',
 '1986.12.06.b',
 '1998.10.04',
 '1924.07.31',
 '1975.02.10',
 '1936.07.12',
 '2011.02.23',
 '1963.07.00',
 '1860.08.01',
 '2014.10.12',
 '1948.09.19.a',
 '1867.08.00',
 '1905.12.31',
 '1999.09.05',
 '1948.12.27',
 '1961.04.16.a',
 '1935.02.14',
 '1943.12.04',
 '1999.09.18',
 '2005.05.27',
 '1959.11.15',
 '2013.03.10.a',
 '1929.01.05',
 '1961.05.15',
 '1952.07.27.c',
 '1873.06.09.R',
 '2010.08.29',
 '1914.07.15.R',
 '2004.07.28',
 '1913.12.30.R',
 '2015.04.11',
 '1962.02.04',
 '1959.03.00',
 '2007.06.17',
 '1990.03.24',
 '1959.00.00.c',
 '1940.09.00',
 '2015.06.17',
 '2011.04.26',
 '1883.12.18.R',
 '1937.02.03',
 '2008.05.24.a',
 '1970.00.00.e',
 '2015.06.24.b',
 '1993.11.12',
 '1953.07.09',
 '1989.02.19',
 '1966.08.27.a',
 '2008.06.26.a',
 '2001.12.21',
 '1963.11.30.a',
 '1835.01.06',
 '1927.01.08.R',
 '2015.06.14.b',
 '1964.07.00.b',
 '2002.10.30',
 '1961.07.00.a',
 '1996.09.02.b',
 '2000.00.00',
 '1866.04.24.R',
 '1940.02.22',
 '2001.04.28',
 '1941.01.29',
 '2001.04.08.a',
 '1979.12.01',
 '1959.01.15',
 '1999.05.29',
 '1937.08.02',
 '1949.08.28.a',
 '1934.08.26',
 '2012.06.03',
 '2008.02.07',
 '1963.09.22',
 '2005.02.04',
 '2007.07.29',
 '2016.07.16.b',
 '1905.07.00',
 '1914.07.07',
 '2013.08.31.a',
 '2010.12.26',
 '2013.10.26.b',
 '1995.08.25',
 '2006.12.10',
 '1929.02.18',
 '1998.11.05',
 '1988.10.22',
 '1852.10.09.R',
 '1970.00.00.c',
 '2008.04.28.a',
 '1985.08.17',
 '1982.08.29.a',
 '1966.08.13',
 '1924.03.24',
 '2004.05.22.a',
 '1928.11.18',
 '1970.09.05',
 '1958.04.19',
 '1996.05.10',
 '2010.08.02.b',
 '2014.06.27.R',
 '1888.08.14',
 '1914.10.17',
 '1915.01.01',
 '2012.12.28',
 '1955.02.10',
 '1916.07.07',
 '2003.06.00',
 '1930.08.31',
 '1966.09.19',
 '2009.03.01.a',
 '1927.02.14',
 '1928.06.24.R',
 '1985.09.08.b',
 '1994.01.30',
 '1948.12.05',
 '1952.00.00.c',
 '1964.02.05.b',
 '1962.04.20',
 '1959.12.07',
 '1964.02.11',
 '2001.04.05',
 '2015.09.08',
 '1901.10.00',
 '1982.07.19',
 '1966.12.27.b',
 '1995.08.13.a',
 '1990.05.13',
 '1913.05.21',
 '1970.06.13.a',
 '1927.10.12',
 '1978.11.26',
 '1964.06.28',
 '1996.10.05.',
 '1935.01.24.a',
 '1864.10.02',
 '2012.07.14',
 '1987.05.25',
 '2011.10.05',
 '1995.09.03.a',
 '2008.08.30.a',
 '2015.05.07',
 '1952.07.13',
 '2009.09.01',
 '1958.07.02',
 '2011.06.28',
 '1983.07.26',
 '1998.09.14',
 '1887.12.22.R',
 '1880.10.10',
 '2014.05.10.R',
 '1988.07.11',
 '1905.07.29',
 '2015.03.07',
 '2001.09.15.b',
 '1899.08.15',
 '2009.01.16',
 '2016.05.15',
 '1937.05.30',
 '2017.06.07.R',
 '1935.03.13',
 '2008.07.26.a',
 '1995.04.13',
 '2017.06.17',
 '2009.10.02',
 '1997.08.02.b',
 '2011.11.22',
 '1950.00.00.m',
 '1936.03.22',
 '1916.12.30',
 '1968.04.11.R',
 '2005.03.19',
 '1984.11.08',
 '2007.07.19.a',
 '1982.07.24.b',
 '1998.04.17',
 '1935.09.21',
 '1935.03.20',
 '1895.12.09',
 '2007.05.12',
 '1999.07.29',
 '1868.00.00.a',
 'ND-0123',
 '2015.12.26',
 '2008.12.27.c',
 '1936.01.00',
 '1935.08.26',
 '1985.03.16',
 '1960.08.21',
 '1967.12.30',
 '1893.06.22.R',
 '2001.08.18.c',
 '1964.02.14.a',
 '1964.08.03',
 '1907.10.16.R',
 '2018.01.28',
 '2009.09.26',
 '1999.02.23',
 '1924.03.28.R',
 '1907.10.14',
 '1956.00.00.d',
 '1965.08.26',
 '2001.10.02',
 '1969.08.02',
 '2008.04.17',
 '1963.07.15',
 '2007.12.14',
 '1944.01.14',
 '1948.02.12',
 '1892.00.00',
 '1978.06.21.b',
 '1968.06.09',
 '1849.09.19',
 '1968.11.06',
 '1932.07.14.R',
 '2017.10.26',
 '1938.00.00.d',
 '2011.08.16.b',
 '2010.09.27',
 '1977.05.26',
 '2006.01.11',
 '1991.08.30',
 '2000.08.11',
 '1969.07.22',
 '2012.01.18.a',
 '1964.08.21',
 '1934.04.15',
 '2003.11.01',
 '1980.01.25',
 '2014.10.19',
 '1956.05.26.R',
 '1966.01.22',
 '2001.08.22',
 '1882.05.14',
 '1703.03.26',
 '1975.08.12',
 '1941.11.19',
 '2013.03.16.a',
 '1980.00.00.d',
 '1951.06.00',
 '1914.03.10.R',
 '1900.12.27',
 '1957.04.13',
 '1962.04.07',
 '1923.11.23',
 '2012.06.12',
 '1981.09.03.b',
 '1951.07.19.R',
 '1974.03.21',
 '1831.01.22.R',
 '1992.07.23',
 '1882.11.12.a',
 '2012.04.11',
 '2009.01.11.b',
 '2013.05.27.b',
 '2003.09.19',
 '1852.08.00',
 '1998.12.20.R',
 '1995.09.03.b',
 '2003.02.11',
 '1997.12.25.a',
 '1976.07.16',
 '2014.03.12',
 '1962.08.00.a',
 '1974.07.20',
 '2011.05.10',
 '1879.12.24',
 '2015.06.23',
 '2015.01.19.a',
 '2001.07.00',
 '1962.01.15',
 '2010.12.01.a',
 '2003.01.02',
 '2016.02.05',
 '1872.04.03.R',
 '1954.07.28',
 '1956.08.25',
 '2000.10.09',
 '1877.04.07',
 '1955.03.00.b',
 '1984.07.00.a',
 '1907.09.11',
 '2006.09.30',
 '2000.07.04.b',
 '2018.01.05',
 '2017.09.24.a',
 '1975.00.00.b',
 '1921.11.27.b',
 '2016.07.17',
 '2014.10.31',
 '1967.05.13',
 '1933.02.12',
 '1834.07.15.R',
 '1920.11.29',
 '2017.06.04',
 '2006.05.10',
 '2008.10.11',
 '1962.10.25',
 '1966.08.21.b',
 '2011.10.20',
 '2007.07.21',
 '1964.03.28.b',
 '2012.07.23',
 '2015.06.14.a',
 '1968.12.25',
 '1964.06.02',
 '2014.07.05.b',
 '2012.11.27',
 '1940.07.13.a',
 '2013.05.08.b',
 '2010.02.06.a',
 '1925.03.27',
 '1894.09.12.R',
 '2001.09.01',
 '2001.04.02.a',
 '2002.04.02',
 '1853.00.00.c',
 '1960.12.27.a.',
 '1852.00.00',
 '1969.08.01',
 '1994.07.24',
 '1894.07.15.R',
 '1896.12.23',
 '2006.07.23',
 '1989.12.03',
 '1965.11.03.b',
 '1934.01.07',
 '1963.12.26.b',
 '1964.01.04',
 '1965.05.28',
 '1988.05.10',
 '1906.09.00',
 '2015.01.23',
 '1998.03.08.a',
 '2009.07.04',
 '1977.06.26',
 '2017.05.27',
 '1971.00.00.c',
 '2000.09.08.c',
 '1845.09.10.R',
 '1959.11.22',
 '2014.07.21',
 '1907.10.08',
 '2001.01.06',
 '2015.11.01.b',
 '1985.10.22',
 '1938.06.08',
 '1938.03.08',
 '1898.00.00.d',
 '1981.07.20',
 '1916.07.01',
 '2009.01.00',
 '2016.03.02',
 '1967.08.19',
 '1908.07.08.R',
 '1817.06.24',
 '1996.09.01.b',
 '1967.07.29',
 '1963.05.18',
 '2016.09.17.b',
 '1947.04.20',
 '1912.07.23',
 '1883.07.05',
 '1922.05.06',
 '2005.11.02.a',
 '1983.08.15',
 '2013.06.18',
 '1955.04.00',
 '1920.07.05.R',
 '1957.04.28',
 '1912.02.22',
 '2009.05.17',
 '1937.01.27',
 '1957.00.00.g',
 '2017.07.14.b',
 '2010.08.07.b',
 '2011.06.06.b',
 '1995.07.03',
 '2005.10.15',
 '2018.04.22',
 '1959.08.15.a',
 '1876.02.06',
 '2017.08.03',
 '2001.05.04',
 '1912.02.03',
 '2006.07.09.b',
 '1961.03.30',
 '2009.11.24',
 '1941.00.00.c',
 '2008.11.06',
 '1957.12.26',
 '1962.07.10',
 ...}

In [29]:
#Al estar en mejor formato la columna "Case Number" vamos a limpiar esta para utilizar su contenido
df_clean["Case Number"]=df_clean["Case Number"].map(lambda x: str(x)[0:10]) # quito todos los elementos fuera de la fecha
df_clean.loc[df_clean["Case Number"].str.startswith("ND"),"Case Number"]="0000.00.00" 
set(df_clean["Case Number"])

{'1966.12.27',
 '2009.02.22',
 '1993.06.05',
 '1943.05.14',
 '1968.11.02',
 '1954.07.15',
 '2016.06.05',
 '1922.06.17',
 '1895.11.21',
 '2007.02.03',
 '2010.07.23',
 '2018.04.30',
 '1962.06.10',
 '2008.04.15',
 '2006.05.24',
 '1951.03.26',
 '2001.10.07',
 '2007.03.05',
 '1998.12.22',
 '2004.02.11',
 '1995.10.11',
 '2016.07.08',
 '2009.04.19',
 '1984.09.23',
 '1969.04.22',
 '1899.08.23',
 '1986.08.10',
 '1961.07.29',
 '2010.04.13',
 '1942.03.08',
 '2007.08.12',
 '1999.08.16',
 '1959.05.03',
 '1935.03.25',
 '1901.09.23',
 '1959.04.27',
 '2011.04.16',
 '2009.09.12',
 '1961.04.25',
 '1956.01.16',
 '1900.09.05',
 '2007.07.17',
 '1997.08.11',
 '1964.01.21',
 '2005.06.05',
 '2004.10.01',
 '2015.05.09',
 '1960.04.24',
 '2009.07.24',
 '2016.02.12',
 '1968.03.00',
 '1949.07.16',
 '1997.09.06',
 '2015.08.20',
 '2015.05.20',
 '2004.11.15',
 '1957.12.30',
 '1948.12.10',
 '1931.08.25',
 '2000.03.24',
 '1962.06.17',
 '1828.09.28',
 '1998.12.24',
 '2015.01.06',
 '2011.05.07',
 '2017.07.23',
 '1997.08.09',
 '2004.05.01',
 '1964.07.27',
 '1936.01.22',
 '1894.12.11',
 '1983.03.30',
 '2003.02.08',
 '1983.07.12',
 '1967.09.13',
 '2013.08.26',
 '1909.08.13',
 '1891.08.29',
 '1934.03.12',
 '1980.04.25',
 '1961.08.20',
 '2014.08.29',
 '1989.10.29',
 '1922.04.26',
 '1972.12.31',
 '1908.01.08',
 '1994.04.16',
 '1817.06.15',
 '1973.08.25',
 '1964.08.00',
 '2012.02.20',
 '2006.02.23',
 '1995.09.03',
 '1965.01.23',
 '1956.01.05',
 '2017.05.30',
 '2008.07.09',
 '1982.09.30',
 '1902.12.22',
 '2012.06.26',
 '1934.04.01',
 '2004.08.21',
 '2015.07.25',
 '1953.12.22',
 '2000.09.29',
 '1950.02.11',
 '1926.07.23',
 '1905.01.01',
 '1966.01.10',
 '2012.08.15',
 '2000.07.12',
 '1924.11.25',
 '1904.07.28',
 '2001.02.26',
 '1890.00.00',
 '1968.10.13',
 '2004.01.07',
 '1995.08.22',
 '1985.09.28',
 '2006.05.21',
 '1948.05.10',
 '1995.09.11',
 '1990.04.01',
 '1974.08.23',
 '2012.03.01',
 '2009.01.25',
 '2002.08.28',
 '1932.02.16',
 '1931.02.10',
 '1989.01.26',
 '1977.01.00',
 '2015.12.13',
 '1982.09.04',
 '1998.00.00',
 '1999.09.24',
 '1956.07.28',
 '1943.11.21',
 '2012.07.19',
 '2001.09.13',
 '1970.00.00',
 '1957.12.18',
 '2009.04.21',
 '1995.06.16',
 '1931.06.13',
 '1960.06.24',
 '2010.02.01',
 '2008.05.10',
 '2006.07.08',
 '1961.10.09',
 '2016.09.07',
 '1970.10.00',
 '2005.07.17',
 '2006.05.27',
 '1988.04.24',
 '1923.06.16',
 '2018.04.10',
 '1992.10.29',
 '2006.09.03',
 '2017.11.18',
 '1961.04.09',
 '1939.04.12',
 '2012.03.06',
 '2015.09.19',
 '2014.10.22',
 '2003.06.24',
 '2011.07.15',
 '1992.10.01',
 '1916.04.03',
 '1749.00.00',
 '1954.01.15',
 '1991.11.26',
 '2000.11.21',
 '2012.08.05',
 '1974.04.14',
 '1977.11.12',
 '1960.07.03',
 '1921.11.27',
 '1979.08.28',
 '2004.07.30',
 '2003.05.07',
 '1960.10.24',
 '1962.09.02',
 '1932.10.31',
 '1961.09.07',
 '2015.04.26',
 '1983.04.02',
 '1993.08.19',
 '1996.10.09',
 '1953.04.00',
 '1889.07.21',
 '1981.05.20',
 '1956.06.28',
 '1955.05.08',
 '2003.06.08',
 '1919.03.16',
 '1972.12.26',
 '2006.10.16',
 '1911.07.31',
 '1998.05.30',
 '1978.04.00',
 '2001.04.12',
 '2012.03.14',
 '2006.04.11',
 '2000.11.20',
 '2008.07.05',
 '1973.12.21',
 '1959.07.03',
 '2003.05.25',
 '1888.02.00',
 '1853.09.28',
 '1997.10.24',
 '1959.01.12',
 '2014.08.24',
 '2000.09.24',
 '1967.01.06',
 '2004.05.29',
 '1965.05.00',
 '2013.06.25',
 '1879.00.00',
 '1937.02.04',
 '2018.05.13',
 '1962.11.11',
 '1999.09.29',
 '1965.06.09',
 '1956.07.12',
 '1960.11.00',
 '1927.12.28',
 '1964.11.18',
 '2004.02.21',
 '2011.01.03',
 '1988.03.31',
 '1997.08.27',
 '1988.06.19',
 '2006.03.23',
 '1925.03.10',
 '1999.10.20',
 '1958.04.05',
 '1992.10.15',
 '1989.00.00',
 '1922.02.22',
 '1964.01.23',
 '1963.09.29',
 '1983.07.05',
 '1950.12.19',
 '1993.09.16',
 '1991.06.07',
 '2015.11.15',
 '2004.02.16',
 '2017.03.27',
 '1988.01.06',
 '1984.11.11',
 '1919.04.06',
 '1899.06.07',
 '2004.10.02',
 '2002.05.10',
 '1995.05.24',
 '1998.04.26',
 '1992.02.09',
 '1945.05.08',
 '2009.03.02',
 '1998.08.23',
 '1859.03.16',
 '1874.11.21',
 '2003.12.08',
 '2007.05.16',
 '1890.08.08',
 '1935.03.11',
 '2016.02.02',
 '2003.05.03',
 '2015.09.04',
 '1855.03.28',
 '2013.03.12',
 '1959.11.10',
 '1998.08.15',
 '1868.09.01',
 '1979.12.21',
 '1968.08.21',
 '1960.01.01',
 '1936.08.24',
 '2016.08.06',
 '2012.12.31',
 '1922.05.24',
 '1912.01.26',
 '2017.08.27',
 '1998.06.22',
 '1991.07.01',
 '1990.10.12',
 '1876.09.07',
 '2014.08.06',
 '1980.00.00',
 '2009.08.25',
 '2001.08.18',
 '1967.02.06',
 '1964.12.10',
 '2018.06.08',
 '1997.06.24',
 '1946.07.18',
 '1936.03.30',
 '2017.01.09',
 '1989.07.14',
 '1972.12.24',
 '1961.04.16',
 '1964.02.02',
 '1985.00.00',
 '2007.03.14',
 '2001.07.25',
 '2009.07.31',
 '1817.02.22',
 '2016.03.31',
 '1986.07.00',
 '1871.05.22',
 '1905.03.26',
 '1991.08.26',
 '2005.06.16',
 '1984.11.04',
 '1967.09.20',
 '1963.06.01',
 '1954.10.07',
 '1962.04.09',
 '1871.00.00',
 '1962.09.30',
 '1868.05.13',
 '1978.12.29',
 '2011.09.04',
 '1997.08.05',
 '2013.04.28',
 '1995.09.28',
 '1884.08.18',
 '2003.11.00',
 '1958.06.24',
 '1986.07.09',
 '1963.02.08',
 '1963.11.14',
 '1984.09.17',
 '1952.07.05',
 '2010.09.06',
 '1956.12.26',
 '1961.04.14',
 '1907.02.09',
 '1957.01.05',
 '1905.12.29',
 '2000.07.09',
 '2009.05.06',
 '1864.01.02',
 '1954.04.08',
 '1969.06.27',
 '1976.08.26',
 '1969.03.09',
 '1938.00.00',
 '2017.04.10',
 '1996.01.12',
 '1953.03.00',
 '2001.09.03',
 '1986.10.03',
 '1964.09.07',
 '1877.09.15',
 '2015.07.23',
 '1988.01.05',
 '2016.05.02',
 '1998.01.14',
 '1993.07.30',
 '2018.06.18',
 '1931.08.01',
 '1889.10.03',
 '2013.06.15',
 '1991.10.12',
 '1988.04.28',
 '1975.03.16',
 '1968.03.10',
 '1998.09.22',
 '1929.03.04',
 '1896.07.25',
 '2004.11.00',
 '1989.03.04',
 '1956.12.09',
 '2016.02.19',
 '2005.02.13',
 '1988.06.09',
 '2017.10.09',
 '1963.11.28',
 '1935.05.19',
 '2000.03.03',
 '2008.09.15',
 '1959.05.30',
 '2003.09.21',
 '2000.10.06',
 '1988.09.13',
 '1967.01.22',
 '2017.09.03',
 '2017.07.29',
 '2009.12.06',
 '2011.07.31',
 '2009.07.11',
 '2015.11.01',
 '2010.02.03',
 '2008.04.18',
 '1962.02.18',
 '1953.12.00',
 '1971.09.07',
 '1976.06.23',
 '1971.12.16',
 '2005.09.07',
 '2004.08.06',
 '1962.10.15',
 '2013.04.14',
 '2013.10.28',
 '1990.08.19',
 '1954.08.19',
 '1949.04.13',
 '1935.01.17',
 '2015.05.03',
 '1940.01.29',
 '2007.07.22',
 '2011.07.25',
 '1970.03.23',
 '1957.04.22',
 '1955.08.26',
 '1950.01.12',
 '1997.08.30',
 '1980.12.30',
 '1883.12.19',
 '1991.01.19',
 '2008.07.00',
 '1986.11.04',
 '1965.02.04',
 '2005.08.19',
 '1888.07.13',
 '1974.01.13',
 '1993.06.10',
 '2015.08.18',
 '2008.08.18',
 '1978.07.27',
 '2018.04.19',
 '2005.02.22',
 '1966.09.18',
 '2000.10.02',
 '1898.08.22',
 '1931.03.22',
 '2008.11.28',
 '1992.09.11',
 '1966.08.14',
 '1994.01.12',
 '1894.07.15',
 '1962.01.08',
 '1960.06.04',
 '1989.06.03',
 '1985.07.00',
 '1992.11.29',
 '2016.08.29',
 '1959.10.04',
 '2010.01.27',
 '2000.08.15',
 '1895.04.23',
 '1950.03.26',
 '1997.06.09',
 '1852.05.24',
 '1978.02.19',
 '2015.10.13',
 '2011.01.15',
 '1962.06.07',
 '2012.03.20',
 '2005.01.14',
 '1914.03.14',
 '2005.06.25',
 '2011.05.22',
 '2014.02.07',
 '1954.04.00',
 '2013.09.07',
 '1984.07.01',
 '1929.02.09',
 '1985.11.11',
 '2017.08.18',
 '1870.05.11',
 '2016.12.06',
 '1958.02.01',
 '2002.12.16',
 '1918.09.19',
 '1903.03.12',
 '2017.02.17',
 '1950.04.09',
 '1971.07.19',
 '1867.06.26',
 '2002.12.21',
 '1996.07.21',
 '1990.09.05',
 '2013.04.21',
 '1986.12.06',
 '1968.12.29',
 '2015.08.10',
 '2002.04.21',
 '1968.01.17',
 '1923.10.20',
 '1996.05.24',
 '1995.08.15',
 '1959.11.12',
 '1965.04.29',
 '2006.02.27',
 '1981.05.16',
 '1981.05.05',
 '1975.11.19',
 '1960.08.24',
 '2012.06.10',
 '1870.07.27',
 '2007.09.13',
 '2014.05.01',
 '2009.05.25',
 '2014.07.13',
 '2016.04.22',
 '1914.05.14',
 '1997.01.20',
 '2017.03.19',
 '2010.05.01',
 '1980.01.13',
 '1969.10.14',
 '2011.12.11',
 '1998.08.01',
 '2012.12.00',
 '2007.03.31',
 '1963.12.22',
 '1895.06.03',
 '1961.01.05',
 '2012.07.08',
 '1985.10.18',
 '1961.02.12',
 '1977.03.17',
 '2012.07.07',
 '2012.05.31',
 '1863.02.05',
 '1977.12.19',
 '2009.06.16',
 '2007.09.17',
 '1945.09.06',
 '1950.06.25',
 '1987.07.21',
 '1993.03.22',
 '1938.08.18',
 '1864.07.25',
 '2017.07.14',
 '0000.00.00',
 '2013.09.21',
 '1986.02.06',
 '2014.11.10',
 '1954.10.06',
 '1908.07.08',
 '2012.04.19',
 '2007.11.07',
 '1997.01.01',
 '2006.03.15',
 '1873.00.00',
 '2011.09.17',
 '1916.12.08',
 '2007.04.13',
 '2014.06.18',
 '2015.12.11',
 '2005.09.22',
 '2012.03.04',
 '1992.06.17',
 '1930.11.30',
 '2013.05.23',
 '1979.10.22',
 '2018.01.14',
 '1970.06.15',
 '1974.09.14',
 '2004.07.27',
 '1983.12.24',
 '2007.09.28',
 '1993.07.07',
 '1943.11.11',
 '1953.03.22',
 '2012.01.15',
 '2004.08.15',
 '2006.08.27',
 '1973.12.18',
 '1975.07.23',
 '1940.01.01',
 '1962.05.29',
 '1916.07.26',
 '1924.02.13',
 '1937.08.31',
 '1927.00.00',
 '2015.05.15',
 '2002.08.06',
 '1999.10.30',
 '1998.07.25',
 '1933.04.10',
 '1987.01.28',
 '1970.01.23',
 '1834.07.15',
 '1885.07.26',
 '2011.07.13',
 '1996.03.00',
 '1816.09.03',
 '1985.08.20',
 '2017.10.21',
 '2015.06.27',
 '1938.07.12',
 '2010.12.17',
 '1907.08.12',
 '1882.01.23',
 '1960.04.22',
 '1975.09.00',
 '1948.09.17',
 '2012.07.31',
 '1944.01.04',
 '2001.04.10',
 '1923.05.22',
 '2009.01.12',
 '1976.10.27',
 '2016.01.24',
 '1967.06.13',
 '2013.03.21',
 '1929.08.05',
 '2017.01.03',
 '2003.04.04',
 '1971.00.00',
 '2008.09.09',
 '1910.11.28',
 '2002.06.11',
 '2003.09.14',
 '1961.03.00',
 '2009.03.17',
 '1861.01.15',
 '1881.10.16',
 '2013.06.16',
 '2005.12.20',
 '2007.11.06',
 '1906.01.20',
 '1999.04.11',
 '1997.08.04',
 '1963.04.20',
 '1969.11.30',
 '1968.08.11',
 '1961.06.24',
 '2006.07.28',
 '1934.10.08',
 '1974.07.26',
 '2013.08.29',
 '2002.10.11',
 '2010.08.02',
 '2007.10.06',
 '1995.03.11',
 '2009.03.21',
 '1994.10.05',
 '1940.03.20',
 '1989.09.13',
 '1959.08.11',
 '1936.07.25',
 '2012.10.02',
 '1927.01.03',
 '1929.00.00',
 '1927.04.08',
 '1966.07.19',
 '2003.05.10',
 '1947.04.11',
 '1900.09.13',
 '1874.04.20',
 '1865.09.02',
 '1953.06.00',
 '2018.04.25',
 '1992.12.28',
 '1972.10.21',
 '1960.08.04',
 '1901.12.01',
 '1959.08.25',
 '2016.12.24',
 '1933.06.16',
 '1981.11.09',
 '1891.08.30',
 '1994.06.24',
 '2016.01.25',
 '1943.06.16',
 '1875.11.27',
 '1981.07.07',
 '1968.08.13',
 '1966.09.08',
 '1959.08.20',
 '1988.10.11',
 '1932.02.13',
 '2007.04.09',
 '1896.06.21',
 '2005.09.11',
 '1959.09.00',
 '1898.07.00',
 '2013.07.09',
 '1973.12.00',
 '1951.02.01',
 '2016.06.25',
 '1985.10.12',
 '1937.09.12',
 '1924.10.18',
 '1862.05.05',
 '2018.04.05',
 '1978.08.01',
 '2011.03.10',
 '1904.11.02',
 '1923.12.02',
 '1935.08.13',
 '1930.07.11',
 '1988.03.14',
 '2007.12.21',
 '1827.06.00',
 '1996.04.07',
 '2000.03.26',
 '1958.11.23',
 '1915.01.13',
 '2008.08.16',
 '1992.12.23',
 '1970.09.00',
 '1935.07.01',
 '2012.01.22',
 '2005.12.11',
 '2009.06.21',
 '2018.04.14',
 '1992.05.31',
 '1982.07.31',
 '1901.07.17',
 '1862.12.22',
 '2015.09.20',
 '1881.00.00',
 '2011.08.18',
 '2009.10.29',
 '1959.08.14',
 '1923.01.27',
 '2013.11.23',
 '1955.09.20',
 '1977.12.31',
 '1996.08.29',
 '1915.12.09',
 '1967.05.09',
 '1958.07.00',
 '1964.01.18',
 '1951.03.24',
 '1876.06.18',
 '2002.01.01',
 '1987.10.25',
 '1943.04.05',
 '2008.10.12',
 '1964.05.00',
 '1899.05.04',
 '2001.08.25',
 '1935.08.24',
 '2010.06.15',
 '2008.12.30',
 '1935.07.27',
 '1879.07.03',
 '1996.11.18',
 '1964.12.06',
 '1981.01.01',
 '2009.08.01',
 '2006.10.07',
 '2010.09.21',
 '1997.12.28',
 '1932.06.26',
 '2001.03.23',
 '1991.09.19',
 '2007.09.05',
 '1964.11.05',
 '1956.10.27',
 '2012.05.20',
 '1968.04.07',
 '2014.08.08',
 '1995.06.24',
 '1997.11.09',
 '2008.12.14',
 '1905.02.10',
 '1886.01.28',
 '2000.08.10',
 '1913.00.00',
 '1907.07.00',
 '1986.12.31',
 '1974.04.20',
 '1985.05.08',
 '1878.02.13',
 '1966.12.31',
 '1970.09.02',
 '2018.06.09',
 '2005.03.10',
 '2017.09.16',
 '2005.08.22',
 '2004.09.25',
 '1976.11.27',
 '1873.06.09',
 '1920.06.29',
 '1993.11.28',
 '2011.03.23',
 '1966.01.11',
 '1829.06.10',
 '1998.11.02',
 '2003.10.06',
 '1960.03.31',
 '2002.05.07',
 '1956.03.00',
 '2008.07.26',
 '1941.02.13',
 '1917.06.03',
 '2004.04.05',
 '2011.02.04',
 '1994.12.01',
 '1996.07.10',
 '1897.10.15',
 '2015.06.11',
 '1973.00.00',
 '1983.03.22',
 '2015.01.08',
 '2016.07.27',
 '1936.04.22',
 '1995.04.16',
 '1961.03.09',
 '1900.07.31',
 '2010.01.06',
 '2005.09.23',
 '1928.11.04',
 '2005.11.21',
 '2017.07.27',
 '1962.02.07',
 '1960.01.13',
 '2001.08.04',
 '1954.01.22',
 '1916.07.13',
 '1909.12.15',
 '1974.08.05',
 '2016.10.02',
 '2016.07.04',
 '2011.05.21',
 '1970.12.17',
 '1946.12.28',
 '2003.04.18',
 '1971.06.01',
 '1898.01.24',
 '2008.02.21',
 '2018.02.03',
 '2013.11.10',
 '2005.10.11',
 '2001.08.26',
 '1939.00.00',
 '1926.05.18',
 '1830.04.30',
 '1959.02.28',
 '2001.07.15',
 '1957.10.24',
 '2009.08.10',
 '2010.05.30',
 '2000.11.10',
 '1990.10.20',
 '2008.08.20',
 '1964.05.08',
 '1981.08.29',
 '2003.12.13',
 '1969.06.12',
 '1959.07.02',
 '1914.01.17',
 '1980.10.17',
 '1899.06.02',
 '1963.12.26',
 '1961.06.02',
 '1960.08.10',
 '1948.09.19',
 '2013.04.04',
 '2014.09.06',
 '1964.02.08',
 '1961.05.17',
 '1955.10.16',
 '1907.02.03',
 '1960.10.25',
 '2010.04.19',
 '1960.08.22',
 '1989.06.29',
 '1893.06.22',
 '1986.07.26',
 '1926.01.26',
 '2003.07.04',
 '2001.05.08',
 '1948.12.14',
 '1947.11.23',
 '2006.12.06',
 '1999.04.01',
 '1968.02.04',
 '2003.01.03',
 '1956.09.23',
 '2013.01.13',
 '2003.09.13',
 '1937.03.26',
 '2011.02.17',
 '1993.02.19',
 '1945.09.23',
 '2016.10.21',
 '2017.12.31',
 '1861.03.00',
 '2009.03.27',
 '2003.07.15',
 '2004.08.20',
 '1989.09.17',
 '1997.07.21',
 '2017.06.18',
 '1927.03.01',
 '1985.01.27',
 '1975.05.20',
 '1856.06.21',
 '1993.09.14',
 '1996.01.22',
 '1945.03.06',
 '2005.10.29',
 '2015.03.29',
 '2016.03.10',
 '2013.03.16',
 '1940.12.28',
 '2007.10.15',
 '1988.01.27',
 '1981.00.00',
 '1999.03.18',
 '1967.07.00',
 '1955.02.04',
 '1982.03.07',
 '1962.01.10',
 '1944.11.08',
 '1893.01.30',
 '2014.08.02',
 '2011.04.08',
 '1953.02.18',
 '2017.03.11',
 '2011.01.20',
 '1987.09.13',
 '1897.10.05',
 '1895.05.21',
 '2004.05.04',
 '2002.01.30',
 '2001.05.23',
 '2007.12.07',
 '1930.08.06',
 '1894.11.28',
 '1855.09.30',
 '1988.07.17',
 '2008.08.27',
 '1940.02.20',
 '1938.01.14',
 '1955.08.00',
 '1960.05.29',
 '1904.02.07',
 '1966.06.04',
 '1951.09.03',
 '2016.01.11',
 '2016.07.28',
 '1960.11.11',
 '2005.04.07',
 '1963.07.11',
 '1999.09.10',
 '2015.04.12',
 '1856.02.06',
 '1996.11.29',
 '1907.12.21',
 '1985.03.03',
 '1953.07.31',
 '2010.04.04',
 '1995.10.28',
 '1990.05.10',
 '1981.05.10',
 '1914.03.10',
 '2010.02.16',
 '2009.01.10',
 '2010.10.30',
 '2000.09.11',
 '2012.10.27',
 '1985.01.17',
 '1983.10.17',
 '1999.12.06',
 '1945.06.15',
 '1994.09.21',
 '2018.05.27',
 '1920.07.14',
 '1979.03.11',
 '1997.07.17',
 '1937.10.27',
 '1934.06.21',
 '2018.04.15',
 '1997.09.08',
 '2004.12.11',
 '1992.11.23',
 '1989.02.15',
 '2015.05.02',
 '2009.12.26',
 '1990.11.03',
 '1960.03.28',
 '2000.07.17',
 '1961.07.00',
 '2011.12.02',
 '1881.06.13',
 '1957.07.09',
 '2017.05.28',
 '2005.07.15',
 '1957.12.23',
 '1892.05.19',
 '2007.06.24',
 '1989.09.10',
 '1896.11.29',
 '2012.08.31',
 '1999.09.04',
 '1979.03.00',
 '1902.01.25',
 '1916.07.06',
 '2005.11.15',
 ...}

In [30]:
# Creo nuevas columnas para diferenciar meses y años de cada fecha en base a columna "Case Number"
df_clean['Day']=[d[8:10] for d in df_clean['Case Number']]
df_clean['Month']=[d[5:7] for d in df_clean['Case Number']]
df_clean["Year2"]=[d[0:4] for d in df_clean['Case Number']]

In [31]:
df_clean[["Year2","Year"]].head() # Comparo para ver si Year2 y Year tienen mismo contenido

  Year2  Year
0  2018  2018
1  2018  2018
2  2018  2018
3  2018  2018
4  2018  2018

In [32]:
df_clean["Year2"]=df_clean["Year2"].astype("int") # Convierto columna a int para poder crear columna Decade

In [33]:
# Creo columna Decade para poder categorizar los años
df_clean["Decade"] = pd.cut(df_clean.Year2,
                                bins=[1968,1973,1978,1983,1988,1993,1998,2003,2008,2013,2018], 
                                labels=range(1970,2020,5))

df_clean["Decade"]= df_clean["Decade"].fillna(1970) # Relleno fila nula (añoss anteriores a 1908 las incluyo en la categoria 1910)

df_clean["Year2"]=df_clean["Year2"].astype("object") # vuelvo a convertir la columna a object

df_clean["Decade"].value_counts()

1970    2300
2010     565
2015     557
2005     506
2000     407
1995     281
1990     228
1985     178
1980     172
1975     149
Name: Decade, dtype: int64

In [34]:
# Creo nuevo columna de "Seasonality" para categorizar el tipo de season por mes
seasons_month = {"Winter": ["12", "01", "02"],
             "Spring": ["03", "04", "05"],
             "Summer": ["06", "07", "08"],
             "Autumn": ["09", "10", "11"],
             "Unknown": ["00", "94"]}
Seasonality_name=[]
for x in df_clean["Month"]:
    if x in seasons_month["Winter"]:
        Seasonality_name.append("Winter")
    elif x in seasons_month["Spring"]:
        Seasonality_name.append("Spring")
    elif x in seasons_month["Summer"]:
        Seasonality_name.append("Summer")
    elif x in seasons_month["Autumn"]:
        Seasonality_name.append("Autumn")
    elif x in seasons_month["Unknown"]:
        Seasonality_name.append("Unknown")

df_clean["Seasonality"]= Seasonality_name

In [35]:
#Limpio columna "Fatal (Y/N) para quede categorizada
df_clean["Fatal (Y/N)"].value_counts()
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].str.replace(" N","N")
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].str.replace("2017","Unknown")
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].str.replace("M","Unknown")
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].str.replace("UNKNOWN","Unknown")

In [36]:
df_clean["Fatal (Y/N)"].value_counts()

N          3899
Y          1054
Unknown     390
Name: Fatal (Y/N), dtype: int64

In [37]:
#Limpio columna Injury

df_clean["Injury"]= df_clean["Injury"].str.replace("FATAL","Fatal")
df_clean["Injury"]= df_clean["Injury"].str.replace("Foot bitten","Injury")
df_clean["Injury"]= df_clean["Injury"].str.replace("Leg bitten","Injury")
df_clean.loc[df_clean["Injury"].str.contains("atal"),"Injury"]="Fatal"
df_clean.loc[df_clean["Injury"].str.contains("No injury"),"Injury"]="No injury"
df_clean.loc[df_clean["Injury"].str.contains("Foot"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("arm"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("leg"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("hand"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("bit"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("njur"),"Injury"]="Injury"

In [38]:
#Limpio columna "Age"
df_clean["Age"].value_counts()
#Paso todo lo que no es digito a digito
df_clean["Age"]= df_clean["Age"].str.replace("teen","15")
df_clean["Age"]= df_clean["Age"].str.replace("Teen","15")
df_clean["Age"]= df_clean["Age"].str.replace("mid-30s","30")
df_clean["Age"]= df_clean["Age"].str.replace("mid-20s","20")
df_clean["Age"]= df_clean["Age"].str.replace("adult","45")
df_clean["Age"]= df_clean["Age"].str.replace("(adult)","45")
df_clean["Age"]= df_clean["Age"].str.replace("young","22")
df_clean["Age"]= df_clean["Age"].str.replace("(young)","22")
df_clean["Age"]= df_clean["Age"].str.replace("Adult","45")
df_clean["Age"]= df_clean["Age"].str.replace(">50","50")
df_clean["Age"]= df_clean["Age"].str.replace("Elderly","70")

In [39]:
df_clean["Age"].value_counts()

0           1936
15           151
17           151
18           149
19           140
            ...
2½             1
1              1
25 to 35       1
 30            1
A.M.           1
Name: Age, Length: 149, dtype: int64

In [40]:
df_clean[df_clean["Age"].str.match('^(?![0,1,2,3,4,5,6,7,8,9])')]
df_clean["Age"]=df_clean["Age"].str.extract('(\d+)', expand=False)
df_clean["Age"]= df_clean["Age"].fillna("0")# al generarse nuevas lineas nulas, las reemplazo por 0
df_clean.isnull().sum()

Case Number    0
Date           0
Year           0
Type           0
Country        0
Area           0
Location       0
Activity       0
Name           0
Sex            0
Age            0
Injury         0
Fatal (Y/N)    0
Time           0
Species        0
Day            0
Month          0
Year2          0
Decade         0
Seasonality    0
dtype: int64

In [41]:
df_clean["Age"]=df_clean["Age"].astype("int") # convierto Age en int para crear nueva categoria "Age Category"
Age_category=[]

for x in df_clean["Age"]:
    if x >= 65:
        Age_category.append("Elderly")
    elif x >= 35:
        Age_category.append("Adults")
    elif x >= 20:
        Age_category.append("Young")
    elif x >= 10:
        Age_category.append("Teens")
    elif 0 > x < 10:
        Age_category.append("Children")
    else:
        Age_category.append("Unknown")

        
df_clean["Age Category"]=Age_category

In [42]:
#Categorizamos columna Sex
df_clean["Sex"].value_counts()
df_clean["Sex"]= df_clean["Sex"].str.replace(".","Unknown")
df_clean["Sex"]= df_clean["Sex"].str.replace("lli","Unknown")
df_clean["Sex"]= df_clean["Sex"].str.replace("N","Unknown")
df_clean["Sex"]= df_clean["Sex"].str.replace("M ","M")
df_clean["Sex"].value_counts()

M          4536
F           587
Unknown     220
Name: Sex, dtype: int64

In [43]:
df_clean= df_clean.drop_duplicates()

In [44]:
df_clean.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Day', 'Month', 'Year2', 'Decade', 'Seasonality',
       'Age Category'],
      dtype='object')

In [45]:
#Ordeno orden columnas
column_order = ["Case Number","Date","Year","Time","Day","Month","Year2","Decade","Seasonality","Country","Area","Location","Type","Activity","Injury","Fatal (Y/N)","Species","Name","Sex","Age","Age Category"]
df_clean=df_clean[column_order]

In [46]:
df_analysis = df_clean[["Case Number","Date","Year","Time","Day","Month","Year2","Decade","Seasonality","Country","Area","Location","Type","Activity","Injury","Fatal (Y/N)","Species","Name","Sex","Age","Age Category"]]

In [47]:
df_analysis.to_csv("data/attacks_limpio.csv")