# Cleaning Dataset

In [1]:
import pandas as pd
import re
import numpy as np

**Importar Dataset (CSV):**

In [2]:
df=pd.read_csv('src/attacks.csv',encoding='latin-1') #Incluir encoding='latin-1'o UTF-8/16 para que pueda abrir el archivo
print(df.shape) # ver cuantas filas/columnas tiene el archivo
df.head()

(25723, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
df.columns # ver que columnas hay en el csv

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

**Eliminación duplicados:**

In [4]:
df.drop_duplicates()
df.shape

(25723, 24)

**Búsqueda columnas con filas nulas:**

In [5]:
df.isnull().head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [6]:
#Ver total de filas nulas de cada columna
null_columns=df.isnull().sum()
null_columns[null_columns>0]

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

**Comprobación del contenido de las columnas "Case Number 1 and 2" , ¿es diferente de la columna "Case Number"?**

In [7]:
df[["Case Number","Case Number.1","Case Number.2"]] #A primera vista parece que tiene el mismo contenido
df["Case Number.1"].equals(df["Case Number.2"].equals(df['Case Number']))#False
df["Case Number.1"].isin(df["Case Number.2"]).value_counts()# solo 19 False
df["Case Number.1"].isin(df["Case Number"]).value_counts() #Solo 23 False

True     25700
False       23
Name: Case Number.1, dtype: int64

*Las columnas Case Number.1 y Case Number.2 tienen prácticamente el mismo contenido que  Case Number por lo que podemos eliminarlas.*

**Eliminación del resto de columnas que no aportan ningun valor al análisis: "pdf","href formula","href","Unnamed: 22","Unnamed: 23","original order","Investigator or Source":**

In [8]:
df_clean = df.drop(columns=["Case Number.1","Case Number.2","pdf","href formula","href","Unnamed: 22","Unnamed: 23","original order","Investigator or Source"])
df_clean.shape

(25723, 15)

In [9]:
df_clean.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species '],
      dtype='object')

In [10]:
df_clean.isnull().sum()

Case Number    17021
Date           19421
Year           19423
Type           19425
Country        19471
Area           19876
Location       19961
Activity       19965
Name           19631
Sex            19986
Age            22252
Injury         19449
Fatal (Y/N)    19960
Time           22775
Species        22259
dtype: int64

**Eliminación de  las filas que tengan todas las columnas con valores nulos:**

In [11]:
df_clean=df_clean.dropna(how='all')
df_clean.shape

(8703, 15)

In [12]:
df_clean.isnull().sum()

Case Number       1
Date           2401
Year           2403
Type           2405
Country        2451
Area           2856
Location       2941
Activity       2945
Name           2611
Sex            2966
Age            5232
Injury         2429
Fatal (Y/N)    2940
Time           5755
Species        5239
dtype: int64

**Limpieza columna "Case Number":**

In [13]:
df_clean["Case Number"].value_counts() # Parece que el contenido de la columna es igual a la fecha= Columna Date/Year
df_clean[df_clean["Case Number"].isnull()][["Year","Date"]] # Compruebo la columna nula con columnas relacionadas

        Year                  Date
5488  1905.0  Reported 06-Sep-1905

In [14]:
df_clean["Case Number"]= df_clean["Case Number"].fillna("1905.09.06") # Relleno info nula con info de columnas relacionadas

In [15]:
df_clean.isnull().sum()

Case Number       0
Date           2401
Year           2403
Type           2405
Country        2451
Area           2856
Location       2941
Activity       2945
Name           2611
Sex            2966
Age            5232
Injury         2429
Fatal (Y/N)    2940
Time           5755
Species        5239
dtype: int64

**Eliminación de todas las filas que tengan por lo menos 12 columnas nulas (hay 15 en total):**

In [16]:
df_clean=df_clean.dropna(thresh=12)
df_clean.shape

(5343, 15)

In [17]:
df_clean.isnull().sum()

Case Number       0
Date              0
Year              0
Type              1
Country           2
Area            104
Location        144
Activity        155
Name             24
Sex             217
Age            1936
Injury            3
Fatal (Y/N)     365
Time           2430
Species        2144
dtype: int64

**Limpieza columna "Type":**

In [18]:
df_clean["Type"].value_counts()
df_clean[df_clean["Type"].isnull()][["Activity","Injury","Fatal (Y/N)"]]

   Activity                      Injury Fatal (Y/N)
85  Fishing  Injuries to hands and legs           N

In [19]:
#Añado fila vacia y adapto contenido de la columna para que quede categorizado
df_clean["Type"]= df_clean["Type"].fillna("Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatinginging","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatingingomg","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Questionable","Invalid")
df_clean["Type"]= df_clean["Type"].str.replace("Boatinging","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boating","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boat","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatingingomg","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatinging","Boating")
df_clean["Type"]= df_clean["Type"].str.replace("Boatingomg","Boating")
df_clean["Type"].value_counts()

Unprovoked      4076
Provoked         520
Invalid          383
Boating          254
Sea Disaster     110
Name: Type, dtype: int64

In [20]:
df_clean.isnull().sum()

Case Number       0
Date              0
Year              0
Type              0
Country           2
Area            104
Location        144
Activity        155
Name             24
Sex             217
Age            1936
Injury            3
Fatal (Y/N)     365
Time           2430
Species        2144
dtype: int64

**Limpieza columna "Country":**

In [21]:
df_clean["Country"].value_counts()
df_clean[df_clean["Country"].isnull()][["Area","Location","Activity"]]

,Area,Location,Activity
4231,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship
4498,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate"

In [22]:
df_clean.loc[df_clean["Country"].isnull(),"Country"] = ["INDIA","PANAMA"] #Relleno filas nulas
df_clean["Country"]=df_clean["Country"].apply(lambda x: x.lower())# Paso a minusculass
df_clean["Country"]=df_clean["Country"].str.replace('(\w+)', lambda x: x.group(0).capitalize()) # Pongo mayuscula a la primera letra de cada pais
df_clean["Country"].head(10)

0          Usa
1          Usa
2          Usa
3    Australia
4       Mexico
5    Australia
6       Brazil
7          Usa
8          Usa
9          Usa
Name: Country, dtype: object

**Rellenar el resto de columnas que tienen filas nulas para dejar la data limpia:**

In [23]:
#Relleno filas nulas del resto de columnas para que quede a 0
df_clean["Area"]= df_clean["Area"].fillna("Unknown")
df_clean["Location"]= df_clean["Location"].fillna("Unknown")
df_clean["Activity"]= df_clean["Activity"].fillna("Unknown")
df_clean["Name"]= df_clean["Name"].fillna("Noname")
df_clean["Sex "]= df_clean["Sex "].fillna("")
df_clean["Age"]= df_clean["Age"].fillna("0")
df_clean["Injury"]= df_clean["Injury"].fillna("Unknown")
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].fillna("")
df_clean["Time"]= df_clean["Time"].fillna("Notime")
df_clean["Species "]= df_clean["Species "].fillna("Unknown")

# ALL DATA IS CLEANED
df_clean.isnull().sum()[df_clean.isnull().sum() > 0]

Series([], dtype: int64)

**Limpieza columna "Fatal (Y/N)":**

In [24]:
#Limpio columna "Fatal (Y/N) para quede categorizada
df_clean["Fatal (Y/N)"].value_counts()
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].str.replace(" N","N")
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].str.replace("2017","")
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].str.replace("M","")
df_clean["Fatal (Y/N)"]= df_clean["Fatal (Y/N)"].str.replace("UNKNOWN","")
df_clean["Fatal (Y/N)"].value_counts()

N    3899
Y    1054
      390
Name: Fatal (Y/N), dtype: int64

**Creación de  nueva columna "Fatal(%)" para contabilizar los fallecidos en el análisis:**

In [25]:
def fatality(value):
    if value == "N":
        return "0" 
    elif value == "Y":
        return "1"
    else:
        return "0"

df_clean["Fatal(%)"] = df_clean["Fatal (Y/N)"].apply(fatality)
df_clean["Fatal(%)"]=df_clean["Fatal(%)"].astype("int")
df_clean["Fatal(%)"].value_counts()

0    4289
1    1054
Name: Fatal(%), dtype: int64

**Verificación tipo de datos en cada columna:**

In [26]:
df_clean.dtypes #Todos son object menos Year que es float64

Case Number     object
Date            object
Year           float64
Type            object
Country         object
Area            object
Location        object
Activity        object
Name            object
Sex             object
Age             object
Injury          object
Fatal (Y/N)     object
Time            object
Species         object
Fatal(%)         int64
dtype: object

**Modificación  del tipo de la columna "Year":**

In [27]:
df_clean["Year"]=df_clean["Year"].astype("object")
df_clean["Year"].dtype

dtype('O')

**Corrección nombres de algunas columnas con espacios**

In [28]:
df_clean=df_clean.rename(columns={"Sex ":"Sex"}) #Quito el espacio del nombre de la columna "Sex"
df_clean=df_clean.rename(columns={"Species ":"Species"})

**Limpieza contenido columna "Activity":**

In [29]:
df_clean.loc[df_clean["Activity"].str.contains("wim"),"Activity"]="Swimming"
df_clean.loc[df_clean["Activity"].str.contains("urf"),"Activity"]="Surfing"
df_clean.loc[df_clean["Activity"].str.contains("ish"),"Activity"]="Fishing"
df_clean["Activity"]= df_clean["Activity"].str.replace("Spearfishing","Fishing")
df_clean["Activity"].value_counts().head(10)

Surfing         1225
Fishing         1076
Swimming        1027
Unknown          158
Wading           146
Bathing          143
Diving           102
Standing          98
Snorkeling        84
Scuba diving      75
Name: Activity, dtype: int64

**Limpieza del contenido de la columna "Case Number":**

*Al tener contenido más completo que las columnas "Year" y"Date" vamos a limpiar el contenido de  esta columna para utilizarla en nuestro análisis*

In [30]:
df_clean["Case Number"]=df_clean["Case Number"].map(lambda x: str(x)[0:10]) # quito todos los elementos fuera de la fecha
df_clean.loc[df_clean["Case Number"].str.startswith("ND"),"Case Number"]="0000.00.00" 
df_clean["Case Number"].head(10)

0    2018.06.25
1    2018.06.18
2    2018.06.09
3    2018.06.08
4    2018.06.04
5    2018.06.03
6    2018.06.03
7    2018.05.27
8    2018.05.26
9    2018.05.26
Name: Case Number, dtype: object

**Creación de nuevas columnas para diferenciar meses y años de cada fecha en base a columna "Case Number":**

In [31]:
df_clean['Day']=[d[8:10] for d in df_clean['Case Number']]
df_clean['Month']=[d[5:7] for d in df_clean['Case Number']]
df_clean["Year2"]=[d[0:4] for d in df_clean['Case Number']]

**Comparación columnas Year2 y Year para ver si tienen mismo contenido:**

In [32]:
df_clean[["Year2","Year"]].head(20) 
df_clean["Year"].isin(df_clean["Year2"]).value_counts()

False    5343
Name: Year, dtype: int64

**Creación columna "Decade" para poder categorizar los años:**

In [33]:

df_clean["Year2"]=df_clean["Year2"].astype("int") # Convierto columna a int para poder crear columna Decade

df_clean["Decade"] = pd.cut(df_clean.Year2,
                                bins=[1800,1818,1838,1858,1878,1898,1918,1938,1958,1978,1998,2018], 
                                labels=range(1800,2020,20))
df_clean["Decade"]= df_clean["Decade"].fillna(1800) # Relleno fila nula (años anteriores a 1908 las incluyo en la categoria 1910)
df_clean["Year2"]=df_clean["Year2"].astype("object") # vuelvo a convertir la columna a object

df_clean["Decade"].value_counts().head(30)

df_clean.isnull().sum()
df_clean["Decade"].value_counts().head(30)

2000    2035
1980     859
1960     858
1940     532
1920     378
1900     242
1880     169
1800      99
1860      96
1840      56
1820      19
Name: Decade, dtype: int64

 **Creación de una nueva columna "Hemisphere_South" para categorizar los paises por hemisferio y poder categorizar las seasons:**

In [34]:
df_clean["Country"].value_counts().head(60)
hemisphere_south=["Australia","South Africa","New Zealand","Papua New Guinea","Brazil","Reunion","Fiji","New Caledonia","Mozambique","French Polynesia","Solomon Islands","Indonesia","Tonga","Vanuatu","Kenya","Chile","Ecuador","Seychelles","Mauritius"]
df_clean["Hemisphere_South"]=np.where(df_clean["Country"].isin(hemisphere_south),True,False)
df_clean[["Hemisphere_South","Country"]].head(10)

   Hemisphere_South    Country
0             False        Usa
1             False        Usa
2             False        Usa
3              True  Australia
4             False     Mexico
5              True  Australia
6              True     Brazil
7             False        Usa
8             False        Usa
9             False        Usa

**Creación de nueva columna "Seasonality" para categorizar el tipo de season por mes  del año (por cada hemisferio):**

In [35]:
seasons_month = {"01":{True:"Summer",False:"Winter"},
                 "02":{True:"Summer",False:"Winter"},
                 "03":{True:"Autumn",False:"Spring"},
                 "04":{True:"Autumn",False:"Spring"},
                 "05":{True:"Autumn",False:"Spring"},
                 "06":{True:"Winter",False:"Summer"},
                 "07":{True:"Winter",False:"Summer"},
                 "08":{True:"Winter",False:"Summer"},
                 "09":{True:"Spring",False:"Autumn"},
                 "10":{True:"Spring",False:"Autumn"},
                 "11":{True:"Spring",False:"Autumn"},
                 "12":{True:"Summer",False:"Winter"}}

def seasonality(hemi,month):
    return seasons_month.get(month,{}).get(hemi,"") # hay rows que no coinciden con los elementos del diccionario

df_clean["Seasonality"]=df_clean[["Hemisphere_South","Month"]].apply(lambda row:seasonality(row["Hemisphere_South"],row["Month"]),axis=1)

df_clean[["Seasonality","Country","Month"]].head(10)

  Seasonality    Country Month
0      Summer        Usa    06
1      Summer        Usa    06
2      Summer        Usa    06
3      Winter  Australia    06
4      Summer     Mexico    06
5      Winter  Australia    06
6      Winter     Brazil    06
7      Spring        Usa    05
8      Spring        Usa    05
9      Spring        Usa    05

**Creación nuevas columnas para poder contabilizar fallecidos por seasonality en el análisis:**

In [36]:
def fatality_summer(row):
    if row["Fatal(%)"]==1 and row["Seasonality"]=="Summer":
        return 1
    elif row["Fatal(%)"]==0 and row["Seasonality"]=="Summer":
        return 0
    else:
        return 0
df_clean["Fatality summer"] = df_clean[["Fatal(%)","Seasonality"]].apply(fatality_summer, axis=1)
print(df_clean["Fatality summer"].value_counts())

def fatality_autumn(row):
    if row["Fatal(%)"]==1 and row["Seasonality"]=="Autumn":
        return 1
    elif row["Fatal(%)"]==0 and row["Seasonality"]=="Autumn":
        return 0
    else:
        return 0
df_clean["Fatality autumn"] = df_clean[["Fatal(%)","Seasonality"]].apply(fatality_autumn, axis=1)
print(df_clean["Fatality autumn"].value_counts())

def fatality_winter(row):
    if row["Fatal(%)"]==1 and row["Seasonality"]=="Winter":
        return 1
    elif row["Fatal(%)"]==0 and row["Seasonality"]=="Winter":
        return 0
    else:
        return 0
df_clean["Fatality winter"] = df_clean[["Fatal(%)","Seasonality"]].apply(fatality_winter, axis=1)
print(df_clean["Fatality winter"].value_counts())

def fatality_spring(row):
    if row["Fatal(%)"]==1 and row["Seasonality"]=="Spring":
        return 1
    elif row["Fatal(%)"]==0 and row["Seasonality"]=="Spring":
        return 0
    else:
        return 0
df_clean["Fatality spring"] = df_clean[["Fatal(%)","Seasonality"]].apply(fatality_spring, axis=1)
print(df_clean["Fatality spring"].value_counts())

0    4953
1     390
Name: Fatality summer, dtype: int64
0    5110
1     233
Name: Fatality autumn, dtype: int64
0    5198
1     145
Name: Fatality winter, dtype: int64
0    5168
1     175
Name: Fatality spring, dtype: int64

**Limpieza columna "Injury":**

In [37]:
df_clean["Injury"]= df_clean["Injury"].str.replace("FATAL","Fatal")
df_clean["Injury"]= df_clean["Injury"].str.replace("Foot bitten","Injury")
df_clean["Injury"]= df_clean["Injury"].str.replace("Leg bitten","Injury")
df_clean.loc[df_clean["Injury"].str.contains("atal"),"Injury"]="Fatal"
df_clean.loc[df_clean["Injury"].str.contains("No injury"),"Injury"]="No injury"
df_clean.loc[df_clean["Injury"].str.contains("Foot"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("arm"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("leg"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("hand"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("bit"),"Injury"]="Injury"
df_clean.loc[df_clean["Injury"].str.contains("njur"),"Injury"]="Injury"
df_clean["Injury"].value_counts().head(10)

Injury                       2997
Fatal                        1054
Survived                       52
Lacerations to foot            19
Lacerations to left foot       18
Lacerations to right foot      18
No details                     13
Thigh lacerated                10
Laceration to left foot        10
Left foot lacerated             9
Name: Injury, dtype: int64

**Limpieza columna "Age":**

In [38]:
df_clean["Age"].value_counts()
#Paso todo lo que no es digito a digito
df_clean["Age"]= df_clean["Age"].str.replace("teen","15")
df_clean["Age"]= df_clean["Age"].str.replace("Teen","15")
df_clean["Age"]= df_clean["Age"].str.replace("mid-30s","30")
df_clean["Age"]= df_clean["Age"].str.replace("mid-20s","20")
df_clean["Age"]= df_clean["Age"].str.replace("adult","45")
df_clean["Age"]= df_clean["Age"].str.replace("(adult)","45")
df_clean["Age"]= df_clean["Age"].str.replace("young","22")
df_clean["Age"]= df_clean["Age"].str.replace("(young)","22")
df_clean["Age"]= df_clean["Age"].str.replace("Adult","45")
df_clean["Age"]= df_clean["Age"].str.replace(">50","50")
df_clean["Age"]= df_clean["Age"].str.replace("Elderly","70")

In [39]:
df_clean["Age"].value_counts().head(10)

0     1936
17     151
15     151
18     149
19     140
20     136
16     136
21     118
22     115
25     107
Name: Age, dtype: int64

In [40]:
df_clean[df_clean["Age"].str.match('^(?![0,1,2,3,4,5,6,7,8,9])')] #Busco todas las rows en las que no aparezcan digitos
df_clean["Age"]=df_clean["Age"].str.extract('(\d+)', expand=False) #Elimino todos los elementos que no tengan digito
df_clean["Age"]= df_clean["Age"].fillna("0")# al generarse nuevas lineas nulas, las reemplazo por 0
df_clean["Age"].value_counts().head(10)

0     1945
17     153
18     152
15     152
20     145
19     141
16     137
21     121
22     116
25     109
Name: Age, dtype: int64

In [41]:
df_clean["Age"]=df_clean["Age"].astype("int") # convierto Age en int para crear nueva categoria "Age Category"

Age_category=[]
for x in df_clean["Age"]:
    if x >= 65:
        Age_category.append("Elderly")
    elif x >= 35:
        Age_category.append("Adults")
    elif x >= 20:
        Age_category.append("Young")
    elif x >= 10:
        Age_category.append("Teens")
    elif 0 > x < 10:
        Age_category.append("Children")
    else:
        Age_category.append("")

        
df_clean["Age Category"]=Age_category    
df_clean["Age Category"].value_counts().head(10)

           2063
Young      1290
Teens      1099
Adults      837
Elderly      54
Name: Age Category, dtype: int64

**Creación nuevas columnas para poder contabilizar fallecidos por categoria de edad en el análisis:**

In [42]:
def fatality_teens(row):
    if row["Fatal(%)"]==1 and row["Age Category"]=="Teens":
        return 1
    elif row["Fatal(%)"]==0 and row["Age Category"]=="Teens":
        return 0
    else:
        return 0
df_clean["Fatality teens"] = df_clean[["Fatal(%)","Age Category"]].apply(fatality_teens, axis=1)

def fatality_young(row):
    if row["Fatal(%)"]==1 and row["Age Category"]=="Young":
        return 1
    elif row["Fatal(%)"]==0 and row["Age Category"]=="Young":
        return 0
    else:
        return 0
df_clean["Fatality young"] = df_clean[["Fatal(%)","Age Category"]].apply(fatality_young, axis=1)

def fatality_adults(row):
    if row["Fatal(%)"]==1 and row["Age Category"]=="Adults":
        return 1
    elif row["Fatal(%)"]==0 and row["Age Category"]=="Adults":
        return 0
    else:
        return 0
df_clean["Fatality adults"] = df_clean[["Fatal(%)","Age Category"]].apply(fatality_adults, axis=1)

def fatality_elderly(row):
    if row["Fatal(%)"]==1 and row["Age Category"]=="Elderly":
        return 1
    elif row["Fatal(%)"]==0 and row["Age Category"]=="Elderly":
        return 0
    else:
        return 0
df_clean["Fatality elderly"] = df_clean[["Fatal(%)","Age Category"]].apply(fatality_elderly, axis=1)

print(df_clean["Fatality teens"].value_counts())
print(df_clean["Fatality young"].value_counts())
print(df_clean["Fatality adults"].value_counts())
print(df_clean["Fatality elderly"].value_counts())

0    5146
1     197
Name: Fatality teens, dtype: int64
0    5108
1     235
Name: Fatality young, dtype: int64
0    5216
1     127
Name: Fatality adults, dtype: int64
0    5327
1      16
Name: Fatality elderly, dtype: int64

**Limpieza columna "Sex":**

In [43]:
df_clean["Sex"]= df_clean["Sex"].str.replace(".","")
df_clean["Sex"]= df_clean["Sex"].str.replace("lli","")
df_clean["Sex"]= df_clean["Sex"].str.replace("N","")
df_clean["Sex"]= df_clean["Sex"].str.replace("M ","M")
df_clean["Sex"]= df_clean["Sex"].str.replace("Unknown","")
df_clean["Sex"].value_counts()

M    4536
F     587
      220
Name: Sex, dtype: int64

**Creación dos nuevas columnas  para diferenciar fallecidos de Female y Male: "Fatality female" y "Fatality male"**

In [44]:
def fatality_f(rowSeries):
    if rowSeries["Fatal(%)"]==1 and rowSeries["Sex"]=="F":
        return 1
    elif rowSeries["Fatal(%)"]==0 and rowSeries["Sex"]=="F":
        return 0
    else:
        return 0
df_clean["Fatality female"] = df_clean[["Fatal(%)","Sex"]].apply(fatality_f, axis=1)
print(df_clean["Fatality female"].value_counts())

def fatality_m(rowSeries):
    if rowSeries["Fatal(%)"]==1 and rowSeries["Sex"]=="M":
        return 1
    elif rowSeries["Fatal(%)"]==0 and rowSeries["Sex"]=="M":
        return 0
    else:
        return 0
df_clean["Fatality male"] = df_clean[["Fatal(%)","Sex"]].apply(fatality_m, axis=1)
print(df_clean["Fatality male"].value_counts())

0    5249
1      94
Name: Fatality female, dtype: int64
0    4400
1     943
Name: Fatality male, dtype: int64

**Eliminación duplicados:**

In [45]:
df_clean= df_clean.drop_duplicates()

In [46]:
#Verifico columnas restantes
print(df_clean.columns)
df_clean.shape

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Fatal(%)', 'Day', 'Month', 'Year2', 'Decade',
       'Hemisphere_South', 'Seasonality', 'Fatality summer', 'Fatality autumn',
       'Fatality winter', 'Fatality spring', 'Age Category', 'Fatality teens',
       'Fatality young', 'Fatality adults', 'Fatality elderly',
       'Fatality female', 'Fatality male'],
      dtype='object')

(5341, 33)

**Ordenación de columnas:**

In [47]:
column_order = ["Case Number","Date","Year","Time","Country","Area","Location","Type","Activity","Injury","Fatal (Y/N)","Species","Name","Sex","Age","Day","Month","Year2","Decade","Seasonality","Hemisphere_South","Age Category","Fatal(%)","Fatality summer",'Fatality autumn','Fatality winter',"Fatality spring","Fatality female","Fatality male",'Fatality teens','Fatality young', 'Fatality adults', 'Fatality elderly']
df_clean=df_clean[column_order]
df_clean.shape

(5341, 33)

In [51]:
df_analysis = df_clean[["Case Number","Date","Year","Time","Country","Area","Location","Type","Activity","Injury","Fatal (Y/N)","Species","Name","Sex","Age","Day","Month","Year2","Decade","Seasonality","Hemisphere_South","Age Category","Fatal(%)","Fatality summer",'Fatality autumn','Fatality winter',"Fatality spring","Fatality female","Fatality male",'Fatality teens','Fatality young', 'Fatality adults', 'Fatality elderly']]

In [52]:
df_analysis.shape

(5341, 33)

**Creación nuevo CSV con datos limpios:**

In [53]:
df_analysis.to_csv("src/attacks_limpio.csv")